WcfLoadTest.WcfServiceClient/Service References/ServiceReferenceSoap11/ServiceSoap11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceSoap11" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IServiceSoap11_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://wcfserviceforloadtest/ServiceSoap11.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://wcfserviceforloadtest/ServiceSoap11.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="https://wcfserviceforloadtest/ServiceSoap11.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://wcfserviceforloadtest/ServiceSoap11.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceSoap11_Init_InputMessage">
    <wsdl:part name="parameters" element="tns:Init" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap11_Init_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap11_LoadFileAndReturnFileSizeInBytes_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadFileAndReturnFileSizeInBytes" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap11_LoadFileAndReturnFileSizeInBytes_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadFileAndReturnFileSizeInBytesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap11_GetFileBySize_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileBySize" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap11_GetFileBySize_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileBySizeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap11_GetFileSizes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileSizes" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap11_GetFileSizes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileSizesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap11_GetIntValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIntValue" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap11_GetIntValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIntValueResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceSoap11">
    <wsdl:operation name="Init">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSoap11/Init" message="tns:IServiceSoap11_Init_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSoap11/InitResponse" message="tns:IServiceSoap11_Init_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadFileAndReturnFileSizeInBytes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSoap11/LoadFileAndReturnFileSizeInBytes" message="tns:IServiceSoap11_LoadFileAndReturnFileSizeInBytes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSoap11/LoadFileAndReturnFileSizeInBytesResponse" message="tns:IServiceSoap11_LoadFileAndReturnFileSizeInBytes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileBySize">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSoap11/GetFileBySize" message="tns:IServiceSoap11_GetFileBySize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSoap11/GetFileBySizeResponse" message="tns:IServiceSoap11_GetFileBySize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileSizes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSoap11/GetFileSizes" message="tns:IServiceSoap11_GetFileSizes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSoap11/GetFileSizesResponse" message="tns:IServiceSoap11_GetFileSizes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIntValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSoap11/GetIntValue" message="tns:IServiceSoap11_GetIntValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSoap11/GetIntValueResponse" message="tns:IServiceSoap11_GetIntValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IServiceSoap11" type="tns:IServiceSoap11">
    <wsp:PolicyReference URI="#CustomBinding_IServiceSoap11_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Init">
      <soap:operation soapAction="http://tempuri.org/IServiceSoap11/Init" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadFileAndReturnFileSizeInBytes">
      <soap:operation soapAction="http://tempuri.org/IServiceSoap11/LoadFileAndReturnFileSizeInBytes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileBySize">
      <soap:operation soapAction="http://tempuri.org/IServiceSoap11/GetFileBySize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSizes">
      <soap:operation soapAction="http://tempuri.org/IServiceSoap11/GetFileSizes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIntValue">
      <soap:operation soapAction="http://tempuri.org/IServiceSoap11/GetIntValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSoap11">
    <wsdl:port name="CustomBinding_IServiceSoap11" binding="tns:CustomBinding_IServiceSoap11">
      <soap:address location="https://wcfserviceforloadtest/ServiceSoap11.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>