WcfLoadTest.WcfServiceClientPublic/Service References/ServiceReferenceSoapMsBin1/ServiceSoapMsBin1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceSoapMsBin1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IServiceSoapMsBin1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wcfserviceforloadtest/ServiceSoapMsBin1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wcfserviceforloadtest/ServiceSoapMsBin1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://wcfserviceforloadtest/ServiceSoapMsBin1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wcfserviceforloadtest/ServiceSoapMsBin1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceSoapMsBin1_Init_InputMessage">
    <wsdl:part name="parameters" element="tns:Init" />
  </wsdl:message>
  <wsdl:message name="IServiceSoapMsBin1_Init_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSoapMsBin1_LoadFileAndReturnFileSizeInBytes_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadFileAndReturnFileSizeInBytes" />
  </wsdl:message>
  <wsdl:message name="IServiceSoapMsBin1_LoadFileAndReturnFileSizeInBytes_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadFileAndReturnFileSizeInBytesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSoapMsBin1_GetFileBySize_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileBySize" />
  </wsdl:message>
  <wsdl:message name="IServiceSoapMsBin1_GetFileBySize_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileBySizeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSoapMsBin1_GetFileSizes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileSizes" />
  </wsdl:message>
  <wsdl:message name="IServiceSoapMsBin1_GetFileSizes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileSizesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSoapMsBin1_GetIntValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIntValue" />
  </wsdl:message>
  <wsdl:message name="IServiceSoapMsBin1_GetIntValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIntValueResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceSoapMsBin1">
    <wsdl:operation name="Init">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSoapMsBin1/Init" message="tns:IServiceSoapMsBin1_Init_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSoapMsBin1/InitResponse" message="tns:IServiceSoapMsBin1_Init_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadFileAndReturnFileSizeInBytes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSoapMsBin1/LoadFileAndReturnFileSizeInBytes" message="tns:IServiceSoapMsBin1_LoadFileAndReturnFileSizeInBytes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSoapMsBin1/LoadFileAndReturnFileSizeInBytesResponse" message="tns:IServiceSoapMsBin1_LoadFileAndReturnFileSizeInBytes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileBySize">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSoapMsBin1/GetFileBySize" message="tns:IServiceSoapMsBin1_GetFileBySize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSoapMsBin1/GetFileBySizeResponse" message="tns:IServiceSoapMsBin1_GetFileBySize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileSizes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSoapMsBin1/GetFileSizes" message="tns:IServiceSoapMsBin1_GetFileSizes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSoapMsBin1/GetFileSizesResponse" message="tns:IServiceSoapMsBin1_GetFileSizes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIntValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSoapMsBin1/GetIntValue" message="tns:IServiceSoapMsBin1_GetIntValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSoapMsBin1/GetIntValueResponse" message="tns:IServiceSoapMsBin1_GetIntValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IServiceSoapMsBin1" type="tns:IServiceSoapMsBin1">
    <wsp:PolicyReference URI="#CustomBinding_IServiceSoapMsBin1_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Init">
      <soap12:operation soapAction="http://tempuri.org/IServiceSoapMsBin1/Init" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadFileAndReturnFileSizeInBytes">
      <soap12:operation soapAction="http://tempuri.org/IServiceSoapMsBin1/LoadFileAndReturnFileSizeInBytes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileBySize">
      <soap12:operation soapAction="http://tempuri.org/IServiceSoapMsBin1/GetFileBySize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSizes">
      <soap12:operation soapAction="http://tempuri.org/IServiceSoapMsBin1/GetFileSizes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIntValue">
      <soap12:operation soapAction="http://tempuri.org/IServiceSoapMsBin1/GetIntValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSoapMsBin1">
    <wsdl:port name="CustomBinding_IServiceSoapMsBin1" binding="tns:CustomBinding_IServiceSoapMsBin1">
      <soap12:address location="http://wcfserviceforloadtest/ServiceSoapMsBin1.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://wcfserviceforloadtest/ServiceSoapMsBin1.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>