WcfLoadTest.WcfServiceClient/Service References/ServiceReferenceBasicHttp/ServiceBasicHttp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceBasicHttp" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IServiceBasicHttp_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wcfserviceforloadtest/ServiceBasicHttp.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wcfserviceforloadtest/ServiceBasicHttp.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://wcfserviceforloadtest/ServiceBasicHttp.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wcfserviceforloadtest/ServiceBasicHttp.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceBasicHttp_Init_InputMessage">
    <wsdl:part name="parameters" element="tns:Init" />
  </wsdl:message>
  <wsdl:message name="IServiceBasicHttp_Init_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBasicHttp_LoadFileAndReturnFileSizeInBytes_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadFileAndReturnFileSizeInBytes" />
  </wsdl:message>
  <wsdl:message name="IServiceBasicHttp_LoadFileAndReturnFileSizeInBytes_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadFileAndReturnFileSizeInBytesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBasicHttp_GetFileBySize_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileBySize" />
  </wsdl:message>
  <wsdl:message name="IServiceBasicHttp_GetFileBySize_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileBySizeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBasicHttp_GetFileSizes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileSizes" />
  </wsdl:message>
  <wsdl:message name="IServiceBasicHttp_GetFileSizes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileSizesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBasicHttp_GetIntValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIntValue" />
  </wsdl:message>
  <wsdl:message name="IServiceBasicHttp_GetIntValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIntValueResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceBasicHttp">
    <wsdl:operation name="Init">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBasicHttp/Init" message="tns:IServiceBasicHttp_Init_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBasicHttp/InitResponse" message="tns:IServiceBasicHttp_Init_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadFileAndReturnFileSizeInBytes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBasicHttp/LoadFileAndReturnFileSizeInBytes" message="tns:IServiceBasicHttp_LoadFileAndReturnFileSizeInBytes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBasicHttp/LoadFileAndReturnFileSizeInBytesResponse" message="tns:IServiceBasicHttp_LoadFileAndReturnFileSizeInBytes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileBySize">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBasicHttp/GetFileBySize" message="tns:IServiceBasicHttp_GetFileBySize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBasicHttp/GetFileBySizeResponse" message="tns:IServiceBasicHttp_GetFileBySize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileSizes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBasicHttp/GetFileSizes" message="tns:IServiceBasicHttp_GetFileSizes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBasicHttp/GetFileSizesResponse" message="tns:IServiceBasicHttp_GetFileSizes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIntValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBasicHttp/GetIntValue" message="tns:IServiceBasicHttp_GetIntValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBasicHttp/GetIntValueResponse" message="tns:IServiceBasicHttp_GetIntValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceBasicHttp" type="tns:IServiceBasicHttp">
    <wsp:PolicyReference URI="#BasicHttpBinding_IServiceBasicHttp_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Init">
      <soap:operation soapAction="http://tempuri.org/IServiceBasicHttp/Init" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadFileAndReturnFileSizeInBytes">
      <soap:operation soapAction="http://tempuri.org/IServiceBasicHttp/LoadFileAndReturnFileSizeInBytes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileBySize">
      <soap:operation soapAction="http://tempuri.org/IServiceBasicHttp/GetFileBySize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSizes">
      <soap:operation soapAction="http://tempuri.org/IServiceBasicHttp/GetFileSizes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIntValue">
      <soap:operation soapAction="http://tempuri.org/IServiceBasicHttp/GetIntValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceBasicHttp">
    <wsdl:port name="BasicHttpBinding_IServiceBasicHttp" binding="tns:BasicHttpBinding_IServiceBasicHttp">
      <soap:address location="http://wcfserviceforloadtest/ServiceBasicHttp.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>